

  /* Collapsible */
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .contentCollapse {
    /* padding: 0 18px; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #f1f1f1; */
  }

  /* Collapsible model input */
  .collapsibleModel {
    height: 50px;
    background-color: white;
    color: black;
    /* cursor: pointer; */
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: 100%;
    margin: 2px;
    /* border: none; */
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px black;
    border-style: solid;
  }

    /* Premium features box */
    .premiumBox {
      height: 125%;
      background-color: white;
      color: black;
      margin: auto;
      /* cursor: pointer; */
      display: flex;
      flex-direction: row;
      padding: 5px;
      width: 420px;
      /* border: none; */
      text-align: left;
      outline: none;
      font-size: 15px;
      border: 1px black;
      border-style: solid;
    }

  .symbolExpand{
  margin-left: auto;
  text-align: center;
  vertical-align: middle;
  height: 50%;
  font-size: 25px;
  width: 75px;
  cursor: pointer;
  /* background-color: lightgrey; */
}
  
  /* .active, .collapsibleModel:hover {
    background-color: #555;
  } */

  /* .collapsibleModel:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-left: auto;
  order: 2;
  } */
  
  /* .active:after {
    content: "\2212";
  } */

      /* Model input boxes */
      .modelBox{
        height: 100px; 
        background-color:white;
        display: flex;
        flex-direction:row;
        /* justify-content: flex-start; */
      }





/* Zoom on hover */
.zoomin img {
    /* height: 200px;
    width: 200px; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

.zoomin img:hover {
    transform: scale(1.5)
  }

  /* modelOutput */ 
.modelOutput {
    width: 100%;
    margin: 2.5rem 0;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch; }
    .modelOutput > * {
      -moz-flex-shrink: 1;
      -webkit-flex-shrink: 1;
      -ms-flex-shrink: 1;
      flex-shrink: 1;
      -moz-flex-grow: 0;
      -webkit-flex-grow: 0;
      -ms-flex-grow: 0;
      flex-grow: 0; }
    .modelOutput > * {
      width: 50%; }
    .modelOutput > * {
      padding: 1.5rem;
      width: calc(50% + 1rem); }
    .modelOutput > :nth-child(-n + 2) {
      padding-top: 0; }
    .modelOutput > :nth-last-child(-n + 2) {
      padding-bottom: 0; }
    .modelOutput > :nth-child(2n + 1) {
      padding-left: 0; }
    .modelOutput > :nth-child(2n) {
      padding-right: 0; }
    .modelOutput > :nth-child(2n + 1),
    .modelOutput > :nth-child(2n) {
      width: calc(50% + -0.5rem); }
    .modelOutput .content {
      border-radius: 4px;
      height: 100%;
      padding: 0rem; /* Was 3 */
      text-align: center; }
      .modelOutput .content .icon {
        font-size: 5rem; }
    .modelOutput > div > :last-child {
      margin-bottom: 0; }
    /* @media screen and (max-width: 980px) {
      .modelOutput > * {
        width: 50%; }
      .modelOutput > * { 
        padding: 1rem;
        width: calc(50% + 0.5rem); }
      .modelOutput > :nth-child(-n + 2) {
        padding-top: 1rem; }
      .modelOutput > :nth-last-child(-n + 2) {
        padding-bottom: 1rem; }
      .modelOutput > :nth-child(2n + 1) {
        padding-left: 1rem; }
      .modelOutput > :nth-child(2n) {
        padding-right: 1rem; }
      .modelOutput > :nth-child(2n + 1),
      .modelOutput > :nth-child(2n) {
        padding: 1rem;
        width: calc(50% + 1rem); }
      .modelOutput > * {
        padding: 1rem;
        width: calc(50% + 1rem); }
      .modelOutput > :nth-child(-n + 2) {
        padding-top: 0; }
      .modelOutput > :nth-last-child(-n + 2) {
        padding-bottom: 0; }
      .modelOutput > :nth-child(2n + 1) {
        padding-left: 0; }
      .modelOutput > :nth-child(2n) {
        padding-right: 0; }
      .modelOutput > :nth-child(2n + 1),
      .modelOutput > :nth-child(2n) {
        width: calc(50% + 0rem); }
      .modelOutput .content {
        padding: 0rem; } } */
    @media screen and (max-width: 980px) { /* Was 736 */
      .modelOutput > * {
        width: 100%; }
      .modelOutput > * {
        padding: 1rem;
        width: calc(50% + 0.5rem); }
      .modelOutput > :nth-child(-n + 2) {
        padding-top: 1rem; }
      .modelOutput > :nth-last-child(-n + 2) {
        padding-bottom: 1rem; }
      .modelOutput > :nth-child(2n + 1) {
        padding-left: 1rem; }
      .modelOutput > :nth-child(2n) {
        padding-right: 1rem; }
      .modelOutput > :nth-child(2n + 1),
      .modelOutput > :nth-child(2n) {
        padding: 1rem;
        width: calc(100% + 2rem); }
      .modelOutput > * {
        padding: 1rem;
        width: calc(50% + 1rem); }
      .modelOutput > :nth-child(-n + 2) {
        padding-top: 1rem; }
      .modelOutput > :nth-last-child(-n + 2) {
        padding-bottom: 1rem; }
      .modelOutput > :nth-child(2n + 1) {
        padding-left: 1rem; }
      .modelOutput > :nth-child(2n) {
        padding-right: 1rem; }
      .modelOutput > :nth-child(2n + 1),
      .modelOutput > :nth-child(2n) {
        padding: 1rem;
        width: calc(100% + 2rem); }
      .modelOutput > * {
        padding: 1rem;
        width: calc(100% + 2rem); }
      .modelOutput > :nth-child(-n + 1) {
        padding-top: 0; }
      .modelOutput > :nth-last-child(-n + 1) {
        padding-bottom: 0; }
      .modelOutput > :nth-child(1n + 1) {
        padding-left: 0; }
      .modelOutput > :nth-child(1n) {
        padding-right: 0; }
      .modelOutput > :nth-child(1n + 1),
      .modelOutput > :nth-child(1n) {
        width: calc(100% + 1rem); } }
  
  .modelOutput .content {
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }


    input[type=checkbox]
    {
      -webkit-appearance:checkbox;
    }

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}